$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$color_blue: #2F80ED;
$color_kblue: #1C4D73;
$color_kteal: #00C0A4;
$color_kteal-lighter: lighten($color_kteal,15%);
$color_kgreen: #52755f;
$color_korange: #DB7D3F;
$color_korange-lighter: lighten($color_korange,15%);
$color_kred: #AD2F27;
$color_kpink: #D06BB5;
$color_red: #ED1C24;
$color_green: #0f9b0f;
$color_red-lighter: lighten($color_red,15%);
$color_blue-lighter: lighten($color_blue,15%);
$color_green-lighter: lighten($color_green,15%);
$color_blue-lightest: lighten($color_blue,50%);
$color_gray_text: #7a7a7a;
$color_gray_lighter: lighten($color_gray_text,35%);

@mixin for-phone-landscape-up {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin for-phone-landscape-only {
  @media (min-width: 480px) and (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 909px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 910px) {
    @content;
  }
}

@mixin for-tablet-landscape-only {
  @media (min-width: 910px) and (max-width: 1199px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

* {
	box-sizing: border-box;
}

main {
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.c1 {
	background: #41A6BA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #41A6BA, #4f99b4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #41A6BA, #4f99b4);
}

.c2 { background: #5a8ead;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #5a8ead, #6485a8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #5a8ead, #6485a8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
.c3 { background: #6e7aa4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #6e7aa4, #7b6f9f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #6e7aa4, #7b6f9f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
.c4 { background: #7c6798;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #7c6798, #80699d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #7c6798, #80699d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

body {
height: 100vh;
font-family: 'Titillium Web', sans-serif;
font-weight: 300;
color: $color_kteal;
background: black;}

h1, h2, h3 {
	text-align: center;
	font-weight: 200;
	color: $color_kteal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 36px;
	padding-bottom: 0;
	margin-bottom: 0;
}

h3 {
	font-size: 28px;
	color: $color_kpink;
}


.nav {
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: center;
	margin: auto;
	padding-left: 0px;

	&__item {
		color: rgba(255,255,255,.7);
		padding: 10px;
		margin: 10px;
		position: relative;
		background: #41A6BA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #41A6BA, #5a8ead);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #41A6BA, #5a8ead);

&:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #41A6BA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #41A6BA, #5a8ead);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #41A6BA, #5a8ead); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 2;
  opacity: 0;
}

&:hover {
	color: white;
	background: #41A6BA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #41A6BA, #5a8ead);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #41A6BA, #5a8ead); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

&:hover:after {
	opacity: 1;
}


		& a {
			color: inherit;
			text-decoration: none;
			text-transform: uppercase;
			padding: 5px;
			letter-spacing: 1px;
			position: relative;
			z-index: 3;
		}
	}
}

.newRecipe {

	&__container {
	width: 100%;
	max-width: 900px;
	padding: 20px;
	margin: auto;
	}

	&__form {
	width: 80%;
	padding: 20px;
	margin: auto;
	}

	&__banner {
		font-weight: 300;
		padding: 10px;
		text-align: center;
		width: 100%;
		}

	&__subhead {
		font-size: 30px;
		font-weight: 300;
		color: gray;
		margin: 0 0 20px 5px;
	}

	&__title {
    font-size: 26px;
    line-height: .9;
    font-weight: 300;
    margin-bottom: 20px;
    padding-left: 0px;
   }

	&__input {
		display: block;
		width: 100%;
		padding: .5rem .75rem !important;
		font-family: 'Titillium Web', ;
		font-weight: 200;
		font-size: 1rem !important;
		line-height: 1.25;
		color: white;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.15) !important;
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

&:focus {
	outline: $color_korange-lighter auto 5px;
}
		&::-webkit-input-placeholder {
  color: rgba(255,255,255,.45);
}
&::-moz-placeholder {
  color: rgba(255,255,255,.45);
}
&:-ms-input-placeholder {
  color: rgba(255,255,255,.45);
}
&:-moz-placeholder {
  color: rgba(255,255,255,.45);
}
	}
	&__buttoncont {
		display: flex;
		justify-content: center;
		padding: 30px 10px;
		width: 100%;
	}


	&__button {
			color: rgba(255,255,255,.7);
			font-family: 'Titillium Web', sans-serif;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 200;
			font-size: .75em;
			text-align: center;
			text-decoration: none !important;
			padding: 8px 12px;
			margin: 0 0 20px 0;
			appearance: none;
			-webkit-appearance: none;
			border: none;
			position: relative;
		background: #41A6BA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #41A6BA, #5a8ead);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #41A6BA, #5a8ead);

& span {
	position: relative;
			z-index: 3;
}

&:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #41A6BA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #41A6BA, #5a8ead);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #41A6BA, #5a8ead); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 2;
  opacity: 0;
}

&:hover {
	color: white;
	background: #41A6BA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #41A6BA, #5a8ead);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #41A6BA, #5a8ead); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

&:hover:after {
	opacity: 1;
}
		}

		&__cancel {
			margin-left: 20px;
		}
}

.modal {
	display: block;
	padding-right: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 1;
	position: fixed;
	top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;

	&__dialog {
		-webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    width: 600px;
    max-width: 100%;
    margin: 30px auto;
    position: relative;
	}

	&__content {
		-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
	}

	&__header {
		padding: 15px;
    border-bottom: 1px solid #e5e5e5;
	}

	&__body {
		position: relative;
    padding: 15px;
  }

  &__footer {
  	padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }

  &__close--x {
  	margin-top: -2px;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font: inherit;
    align-items: flex-start;
    text-align: center;
    display: inline-block;
  }

  &__title {
  	margin: 0;
		line-height: 1.4em;
		font-size: 1.2em;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: 700;
  }

  &__button {
  	color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;

    &:hover {
    	color: #333;
    	background-color: #e6e6e6;
    	border-color: #adadad;
    }

    &:active {
    	background-image: none;
	    color: #333;
	    background-color: #e6e6e6;
	    border-color: #adadad;
	    outline: 0;
    }

    &:focus {
	    background-color: #e6e6e6;
	    border-color: #8c8c8c;
	    color: #333;
	    text-decoration: none;
	    outline: thin dotted;
	    outline: 5px auto -webkit-focus-ring-color;
	    outline-offset: -2px;
    }
  }

  &__close--btn {

  }

  &__confirm {
  	margin-left: 5px;
  	color: #fff;
    background-color: $color_red;
    border-color: #d43f3a;

    &:hover, &:active  {
    background-color: $color_red-lighter;
    border-color: #ac2925;
    }

    &:focus {
    background-color: $color_red-lighter;
    border-color: #761c19;
    }

  }

}

.recipeInd {


	&__container {
		width: 100%;
		max-width: 900px;
		margin: 20px auto;
	}

	&__table-cont {
		overflow-x:auto;
		margin: auto;
	}

	&__grid {
		border-collapse: collapse;
		margin: auto;
		background: white;
	}

	&__tableHead {
		font-weight: 200;
		text-transform: uppercase;
		letter-spacing: 2px;
		background-color: #305f6f;
		padding: 15px;
		color: white;
	}

	&__row {

	}

	&__row:nth-of-type(1) { background-color: #41A6BA; }
	&__row:nth-of-type(2) {	background-color: #4f99b4; }
	&__row:nth-of-type(3) { background-color: #5a8ead; }
	&__row:nth-of-type(4) {	background-color: #6485a8; }
	&__row:nth-of-type(5) {	background-color: #6e7aa4; }
	&__row:nth-of-type(6) {	background-color: #7b6f9f; }
	&__row:nth-of-type(7) {	background-color: #80699d; }
	&__row:nth-of-type(8) {	background-color: #66668c; }
	&__row:nth-of-type(9) {	background-color: #4a627e; }
	&__row:nth-of-type(10) { background-color: #366666; }
	&__row:nth-of-type(11) { background-color: #52755f; }
	&__row:nth-of-type(12) { background-color: #305f6f; }


	&__cell {
		padding: 15px;
		min-height: 3em;
		color: $color_kteal-lighter;

		& a {
			color: $color_kteal-lighter;
			text-decoration: none;
			border-bottom: 1px dotted $color_kteal-lighter;

			&:hover {
				color: $color_korange;
				border-bottom: 1px dotted $color_korange;
			}
		}
	}

	&__icon-container {
				padding: 15px 30px;
		& a {
			border-bottom: 0px;
			&:hover {
				border-bottom: 0px;
			}
		}

	}

			&__icon {
				opacity: .5;
				font-size: 1.5em;
				color: #305f6f;
				border: none;
				background: none;
				transition: all 300ms ease-in-out;

				&--edit {
					@extend .fa;
					@extend .fa-pencil;

					&:hover {
					opacity: 1;
					color: $color_kteal-lighter;
					}

				}
				&--delete {
					@extend .fa;
					@extend .fa-trash;

					&:hover {
					opacity: 1;
					color: $color_korange;
					}
				}

			}

}

	.vr {
			color: $color_gray_text;

	&__container {
		width: 100%;
		max-width: 600px;
		margin: auto;
		padding: 20px;
		margin: auto;
	}

	&__title {
		font-size: 48px;
		color: $color_korange;
		line-height: .9;
		font-weight: 300;
		@include for-tablet-landscape-up {

        }

	}

	&__list {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	&__listItem {
		padding: 15px;
		color: white;
	}

	&__listItem:nth-of-type(1) { background-color: #41A6BA; }
	&__listItem:nth-of-type(2) {	background-color: #4f99b4; }
	&__listItem:nth-of-type(3) { background-color: #5a8ead; }
	&__listItem:nth-of-type(4) {	background-color: #6485a8; }
	&__listItem:nth-of-type(5) {	background-color: #6e7aa4; }
	&__listItem:nth-of-type(6) {	background-color: #7b6f9f; }
	&__listItem:nth-of-type(7) {	background-color: #80699d; }
	&__listItem:nth-of-type(8) {	background-color: #66668c; }
	&__listItem:nth-of-type(9) {	background-color: #4a627e; }
	&__listItem:nth-of-type(10) { background-color: #366666; }
	&__listItem:nth-of-type(11) { background-color: #52755f; }
	&__listItem:nth-of-type(12) { background-color: #305f6f; }

	&__meta {
		padding: 0 0 20px 0;
		text-transform: uppercase;
		font-size: .75em;
		letter-spacing: 1px;
	}

	&__body {
		margin-bottom: 20px;
	}

}


