$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$color_blue: #007DC5;
$color_red: #ED1C24;
$color_red-lighter: lighten($color_red,15%);
$color_blue-lighter: lighten($color_blue,15%);
$color_blue-lightest: lighten($color_blue,50%);
$color_gray_text: #7a7a7a;
$color_gray_lighter: lighten($color_gray_text,35%);

.newRecipe {

	&__container {
	width: 100%;
	max-width: 900px;
	padding: 20px;
	}

	&__form {
	width: 80%;
	padding: 20px;
	}

	&__banner {
		font-size: 46px;
		font-weight: 300;
		color: gray;
		padding: 10px;
		text-align: center;
		}

	&__subhead {
		font-size: 30px;
		font-weight: 300;
		color: gray;
		margin: 0 0 20px 5px;
	}

	&__title {
    font-size: 26px;
    color: gray;
    line-height: .9;
    font-weight: 300;
    margin-bottom: 20px;
    padding-left: 0px;
   }

  &__img {
	  max-width: 100%;
	  height: auto;
	  margin: 0 0 20px 0;
	  border: 1px solid gray;
      }

	&__input {
		display: block;
		width: 100%;
		padding: .5rem .75rem !important;
		font-size: 1rem !important;
		line-height: 1.25;
		color: #464a4c;
		background-color: #fff;
		background-image: none;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.15) !important;
		border-radius: .25rem !important;
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	}

	&__button {
			background: green;
			color: white;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 300;
			font-size: .75em;
			text-align: center;
			text-decoration: none !important;
			padding: 8px 12px;
			margin: 0 0 20px 5px;
			appearance: none;
			-webkit-appearance: none;
			border: none;

			&:hover, &-active, &:focus {
					background: lightgreen;
					transition: all 180ms ease-in-out;
					outline: none;
					border: none;
			}
		}

		&__cancel {
			margin-left: 20px;
			background: red
			&:hover, &-active, &:focus {
					background: orange;
			}
		}
}

.modal {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	display: block;
	padding-right: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 1;
	position: fixed;
	top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;

	&__dialog {
		-webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    width: 600px;
    max-width: 100%;
    margin: 30px auto;
    position: relative;
	}

	&__content {
		-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
	}

	&__header {
		padding: 15px;
    border-bottom: 1px solid #e5e5e5;
	}

	&__body {
		position: relative;
    padding: 15px;
  }

  &__footer {
  	padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }

  &__close--x {
  	margin-top: -2px;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font: inherit;
    align-items: flex-start;
    text-align: center;
    display: inline-block;
  }

  &__title {
  	margin: 0;
		line-height: 1.4em;
		font-size: 1.2em;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: 700;
  }

  &__button {
  	color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;

    &:hover {
    	color: #333;
    	background-color: #e6e6e6;
    	border-color: #adadad;
    }

    &:active {
    	background-image: none;
	    color: #333;
	    background-color: #e6e6e6;
	    border-color: #adadad;
	    outline: 0;
    }

    &:focus {
	    background-color: #e6e6e6;
	    border-color: #8c8c8c;
	    color: #333;
	    text-decoration: none;
	    outline: thin dotted;
	    outline: 5px auto -webkit-focus-ring-color;
	    outline-offset: -2px;
    }
  }

  &__close--btn {

  }

  &__confirm {
  	margin-left: 5px;
  	color: #fff;
    background-color: $color_red;
    border-color: #d43f3a;

    &:hover, &:active  {
    background-color: $color_red-lighter;
    border-color: #ac2925;
    }

    &:focus {
    background-color: $color_red-lighter;
    border-color: #761c19;
    }

  }

}

.recipeInd {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


	&__container {
		width: 100%;
		max-width: 900px;
		margin: 20px auto;
	}

	&__table-cont {
		overflow-x:auto;
	}

	&__grid {
		border-collapse: collapse;
	}

	&__tableHead {
		font-weight: 300;
		font-size: 1.2em;
		color: $color_blue;
		border: 1px solid $color_gray_lighter;
		padding: 15px;
	}

	&__row {
		border: 1px solid $color_gray_lighter;

	}

	&__row:nth-of-type(odd) {
	  background-color: rgba(0,0,0,.05);
	}

	&__cell {
		padding: 15px;
		min-height: 3em;
		border: 1px solid $color_gray_lighter;
	}

	&__thumb {
		width: 50px;
		height: auto;
	}

	&__meta {
		padding: 15px 30px;
	}

	&__icon-container {
				padding: 15px 30px;
			}
			&__icon {
				opacity: .5;
				font-size: 1.5em;
				color: $color_gray_text;
				border: none;
				background: none;

				&--edit {
					@extend .fa;
					@extend .fa-pencil;

					&:hover {
					opacity: 1;
					color: $color_blue;
					}

				}
				&--delete {
					@extend .fa;
					@extend .fa-trash;

					&:hover {
					opacity: 1;
					color: $color_red;
					}
				}

			}

	}

