$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$color_blue: #2F80ED;
$color_kblue: #1C4D73;
$color_kteal: #00C0A4;
$color_kteal-lighter: lighten($color_kteal,15%);
$color_kgreen: #52755f;
$color_korange: #DB7D3F;
$color_korange-lighter: lighten($color_korange,15%);
$color_kred: #AD2F27;
$color_kpink: #D06BB5;
$color_red: #ED1C24;
$color_green: #0f9b0f;
$color_red-lighter: lighten($color_red,15%);
$color_blue-lighter: lighten($color_blue,15%);
$color_green-lighter: lighten($color_green,15%);
$color_blue-lightest: lighten($color_blue,50%);
$color_gray_text: #7a7a7a;
$color_gray_lighter: lighten($color_gray_text,35%);

@mixin for-phone-landscape-up {
	@media (min-width: 480px) {
		@content;
	}
}

@mixin for-phone-landscape-only {
	@media (min-width: 480px) and (max-width: 599px) {
		@content;
	}
}

@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}

@mixin for-tablet-portait-only {
	@media (min-width: 600px) and (max-width: 909px) {
		@content;
	}
}

@mixin for-tablet-landscape-up {
	@media (min-width: 910px) {
		@content;
	}
}

@mixin for-tablet-landscape-only {
	@media (min-width: 910px) and (max-width: 1199px) {
		@content;
	}
}

@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin for-desktop-only {
	@media (min-width: 1200px) and (max-width: 1799px) {
		@content;
	}
}

@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}

* {
	box-sizing: border-box;
}

main {
	width: 100%;
	max-width: 900px;
	margin: auto;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	color: $color_kteal;
	height: 100vh;
	background: url(./images/clear-night-600.jpg) no-repeat top center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		@include for-tablet-portrait-up {
			background: url(./images/clear-night-900.jpg) no-repeat top center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		@include for-tablet-landscape-up {
			background: url(./images/clear-night-1200.jpg) no-repeat top center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		@include for-desktop-up {
			background: url(./images/clear-night-1800.jpg) no-repeat top center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		@include for-big-desktop-up {
			background: url(./images/clear-night-1920.jpg) no-repeat top center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
}

.c1 {
	background: #41A6BA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #41A6BA, #4f99b4);
background: linear-gradient(to bottom, #41A6BA, #4f99b4);
}

.c2 { background: #5a8ead;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #5a8ead, #6485a8);
background: linear-gradient(to bottom, #5a8ead, #6485a8);
 }
.c3 { background: #6e7aa4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #6e7aa4, #7b6f9f);
background: linear-gradient(to bottom, #6e7aa4, #7b6f9f);
 }
.c4 { background: #7c6798;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #7c6798, #80699d);
background: linear-gradient(to bottom, #7c6798, #80699d);
 }

h1, h2, h3 {
	text-align: center;
	font-weight: 200;
	color: $color_kteal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 36px;
	padding-bottom: 0;
	margin-bottom: 0;
}

h3 {
	font-size: 28px;
	color: $color_kpink;
}


.nav {
list-style: none;
display: flex;
width: 100%;
justify-content: center;
margin: auto;
padding-left: 0px;

&__item {
	color: rgba(255,255,255,.7);
	padding: 10px;
	margin: 10px;
	position: relative;
	background: #41A6BA;
	background: -webkit-linear-gradient(to bottom, #41A6BA, #5a8ead);
	background: linear-gradient(to bottom, #41A6BA, #5a8ead);

	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #41A6BA;
		background: -webkit-linear-gradient(to top, #41A6BA, #5a8ead);
		background: linear-gradient(to top, #41A6BA, #5a8ead);
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		z-index: 2;
		opacity: 0;
	}

	&:hover {
		color: white;
		background: #41A6BA;
		background: -webkit-linear-gradient(to top, #41A6BA, #5a8ead);
		background: linear-gradient(to top, #41A6BA, #5a8ead);
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;

		&:after {
		opacity: 1;
		}
	}

	& a {
		color: inherit;
		text-decoration: none;
		text-transform: uppercase;
		padding: 5px;
		letter-spacing: 1px;
		position: relative;
		z-index: 3;
	}
}
}

.newRecipe {

	&__container {
		width: 100%;
		max-width: 900px;
		padding: 0;
		margin: auto;
		@include for-tablet-portrait-up {
			padding: 20px;
			}
	}

	&__form {
		width: 100%;
		padding: 20px;
		margin: auto;

		@include for-tablet-portrait-up {
					width: 80%;
				}
	}

	&__banner {
		font-weight: 300;
		padding: 10px;
		text-align: center;
		width: 100%;
	}

	&__subhead {
		font-size: 30px;
		font-weight: 300;
		color: gray;
		margin: 0 0 20px 5px;
	}

	&__title {
		font-size: 26px;
		line-height: .9;
		font-weight: 300;
		margin-bottom: 20px;
		padding-left: 0px;
	}

	&__input {
		display: block;
		width: 100%;
		padding: .5rem .75rem !important;
		font-family: 'Titillium Web', ;
		font-weight: 200;
		font-size: 1rem !important;
		line-height: 1.25;
		color: white;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.15) !important;
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

		&:focus {
			outline: $color_korange-lighter auto 5px;
		}
		&::-webkit-input-placeholder {
			color: rgba(255,255,255,.45);
		}
		&::-moz-placeholder {
			color: rgba(255,255,255,.45);
		}
		&:-ms-input-placeholder {
			color: rgba(255,255,255,.45);
		}
		&:-moz-placeholder {
			color: rgba(255,255,255,.45);
		}
	}

	&__textarea {
		overflow: auto;
	}
	&__buttoncont {
		display: flex;
		justify-content: center;
		padding: 30px 10px;
		width: 100%;
	}

	&__button {
			color: rgba(255,255,255,.7);
			font-family: 'Titillium Web', sans-serif;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 200;
			font-size: .75em;
			text-align: center;
			text-decoration: none !important;
			padding: 8px 12px;
			margin: 0 0 20px 0;
			appearance: none;
			-webkit-appearance: none;
			border: none;
			position: relative;
			background: #41A6BA;
			background: -webkit-linear-gradient(to bottom, #41A6BA, #5a8ead);
			background: linear-gradient(to bottom, #41A6BA, #5a8ead);

			& span {
				position: relative;
				z-index: 3;
				&:hover {
					color: white;
					opacity: 1;
				}
			}

			&:after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #41A6BA;
				background: -webkit-linear-gradient(to top, #41A6BA, #5a8ead);
				background: linear-gradient(to top, #41A6BA, #5a8ead);
				-webkit-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;
				z-index: 2;
				opacity: 0;
			}

			&:hover {
				color: white;
				background: #41A6BA;  /* fallback for old browsers */
				background: -webkit-linear-gradient(to top, #41A6BA, #5a8ead);
				background: linear-gradient(to top, #41A6BA, #5a8ead);
				-webkit-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;

				&::after {
					opacity: 1;
				}
			}
		}

		&__cancel {
			margin-left: 20px;
		}
}

.modal {
	display: block;
	padding-right: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 1;
	position: fixed;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
	color: white;


	&__dialog {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		-o-transform: translate(0,0);
		transform: translate(0,0);
		-webkit-transition: -webkit-transform .3s ease-out;
		-o-transition: -o-transform .3s ease-out;
		transition: transform .3s ease-out;
		width: 300px;
		max-width: 100%;
		margin: 30px auto;
		position: relative;
		-webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	}

	&__content {
		position: relative;
		color: white;
		background: #17180E;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid $color_korange;
		border: 1px solid rgba(0,0,0,.2);
		outline: 0;
	}

	&__header {
		padding: 15px;
	}

	&__body {
		position: relative;
		padding: 15px;
		text-align: center;
	}

	&__footer {
		padding: 15px;
		text-align: right;
	}

	&__close--x {
		margin-top: -10px;
		-webkit-appearance: none;
		padding: 0;
		cursor: pointer;
		background: 0 0;
		border: 0;
		float: right;
		font-size: 1.5em;
		text-shadow: 0 1px 0 $color_kblue;
		filter: alpha(opacity=20);
		opacity: .2;
		text-transform: none;
		overflow: visible;
		align-items: flex-start;
		text-align: center;
		display: inline-block;
		color: white;

		&:hover {
			opacity: .7;
		}
	}

	&__title {
		margin: 0;
		line-height: 1em;
		font-size: 1.2em;
		font-weight: 300;
		color: white;
	}

	&__button {
			color: rgba(255,255,255,.7);
			font-family: 'Titillium Web', sans-serif;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 200;
			font-size: .75em;
			text-align: center;
			text-decoration: none !important;
			padding: 8px 12px;
			margin: 0 0 20px 0;
			appearance: none;
			-webkit-appearance: none;
			border: none;
			position: relative;
			background: #41A6BA;
			background: -webkit-linear-gradient(to bottom, #41A6BA, #5a8ead);
			background: linear-gradient(to bottom, #41A6BA, #5a8ead);

			& span {
				position: relative;
				z-index: 3;
			}

			&:after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #41A6BA;
				background: -webkit-linear-gradient(to top, #41A6BA, #5a8ead);
				background: linear-gradient(to top, #41A6BA, #5a8ead);
				-webkit-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;
				z-index: 2;
				opacity: 0;
			}

			&:hover {
				color: white;
				background: #41A6BA;
				background: -webkit-linear-gradient(to top, #41A6BA, #5a8ead);
				background: linear-gradient(to top, #41A6BA, #5a8ead);
				-webkit-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;

				&:after {
					opacity: 1;
				}
			}
	}

	&__cancel {
			margin-left: 20px;
		}

	&__confirm {
		margin-left: 10px;
		background: $color_kred;
		background: -webkit-linear-gradient(to bottom, $color_kred, $color_korange);
		background: linear-gradient(to bottom, $color_kred, $color_korange);

		&:after {
		background: $color_korange;
		background: -webkit-linear-gradient(to top, $color_kred, $color_korange);
		background: linear-gradient(to top, $color_kred, $color_korange);
		}

		&:hover, &:active, &:focus  {
		background: $color_korange;
		background: -webkit-linear-gradient(to top, $color_kred, $color_korange);
		background: linear-gradient(to top, $color_kred, $color_korange);
		}

	}
}

.recipeInd {

	&__container {
		width: 100%;
		max-width: 900px;
		margin: 20px auto;
	}

	&__table-cont {
		overflow-x:auto;
		margin: auto;
	}

	&__grid {
		border-collapse: collapse;
		margin: auto;
		background: white;
	}

	&__tableHead {
		font-weight: 200;
		text-transform: uppercase;
		letter-spacing: 2px;
		background-color: #305f6f;
		padding: 15px;
		color: white;
	}

	&__row {

	}

	&__row:nth-of-type(10n+1) { background-color: #41A6BA; }
	&__row:nth-of-type(10n+2) {	background-color: #4f99b4; }
	&__row:nth-of-type(10n+3) { background-color: #5a8ead; }
	&__row:nth-of-type(10n+4) {	background-color: #6485a8; }
	&__row:nth-of-type(10n+5) {	background-color: #6e7aa4; }
	&__row:nth-of-type(10n+6) {	background-color: #7b6f9f; }
	&__row:nth-of-type(10n+7) {	background-color: #80699d; }
	&__row:nth-of-type(10n+8) {	background-color: #66668c; }
	&__row:nth-of-type(10n+9) {	background-color: #4a627e; }
	&__row:nth-of-type(10n) { background-color: #366666; }


	&__cell {
		padding: 15px;
		min-height: 3em;
		color: $color_kteal-lighter;

		& a {
			color: $color_kteal-lighter;
			text-decoration: none;
			border-bottom: 1px dotted $color_kteal-lighter;

			&:hover {
				color: $color_korange;
				border-bottom: 1px dotted $color_korange;
			}
		}
	}
	&__message {
		width: 100%;
		text-align: center;
		padding: 10px;
		color: $color_kteal-lighter;
		border: 1px solid $color_kteal-lighter;
		margin-bottom: 20px;
	}

	&__icon-container {
				padding: 15px 30px;
		& a {
			border-bottom: 0px;
			&:hover {
				border-bottom: 0px;
			}
		}

	}
	&__icon {
		opacity: .5;
		font-size: 1.5em;
		color: #305f6f;
		border: none;
		background: none;
		transition: all 300ms ease-in-out;

		&--edit {
			@extend .fa;
			@extend .fa-pencil;

			&:hover {
			opacity: 1;
			color: $color_kteal-lighter;
			}
		}
		&--delete {
			@extend .fa;
			@extend .fa-trash;

			&:hover {
			opacity: 1;
			color: $color_korange;
			}
		}
	}

}

.vr {
	color: $color_gray_text;

	&__container {
		width: 100%;
		max-width: 600px;
		margin: auto;
		padding: 20px;
		margin: auto;
	}

	&__title {
		font-size: 48px;
		color: $color_korange;
		line-height: .9;
		font-weight: 300;
		@include for-tablet-landscape-up {
				}
	}

	&__list {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	&__listItem {
		padding: 15px;
		color: white;
	}

	&__listItem:nth-of-type(14n+1), .c1 { background-color: #41A6BA; }
	&__listItem:nth-of-type(14n+2), .c2 { background-color: #4f99b4; }
	&__listItem:nth-of-type(14n+3), .c3 { background-color: #5a8ead; }
	&__listItem:nth-of-type(14n+4), .c4 { background-color: #6485a8; }
	&__listItem:nth-of-type(14n+5), .c5 { background-color: #66668c; }
	&__listItem:nth-of-type(14n+6), .c6 { background-color: #4a627e; }
	&__listItem:nth-of-type(14n+7), .c7 { background-color: #2a5e6b; }
	&__listItem:nth-of-type(14n+8), .c8 { background-color: #3d6a65; }
	&__listItem:nth-of-type(14n+9), .c9 { background-color: #5a785c; }
	&__listItem:nth-of-type(14n+10), .c10 { background-color: #768657; }
	&__listItem:nth-of-type(14n+11), .c11 { background-color: #939450; }
	&__listItem:nth-of-type(14n+12), .c12 { background-color: #6ea48c; }
	&__listItem:nth-of-type(14n+13), .c13 { background-color: #50a5aa;}
	&__listItem:nth-of-type(14n), .c14 { background-color: #2daeb6; }

	&__meta {

		padding: 0 0 20px 0;
		text-align: center;
		font-size: .75em;
		letter-spacing: 1px;
		color: $color_kteal-lighter;

		& a {
			color: inherit;
			text-decoration: none;
			border-bottom: 1px dotted;

			&:hover, &:active, &:focus {
				color: $color_korange;
			}
		}
	}

	&__body {
		margin-bottom: 20px;
	}

}